<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-8">
            <div class="card">
                <div class="card-header">
                    <div class="card-header-icon">
                        <i class="nav-icon fas fa-user-check text-primary"></i>
                    </div>
                    Your Dashboard
                </div>

                <div class="card-body">
                    You’re logged in :)
                </div>
            </div>
        </div>

    </div>
</div>
