name: Run tests

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [12.x, 14.x, 16.x]
        mariadb-version: [10.6]

    name: Node ${{ matrix.node-version }}

    steps:
    - name: Git checkout
      uses: actions/checkout@v2

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v2
      with:
        node-version: ${{ matrix.node-version }}

    - name: Use MariaDB ${{ matrix.mariadb-version }}
      uses: getong/mariadb-action@v1.1
      with:
        mariadb version:: ${{ matrix.mariadb-version }}
        mysql database: 'supercharge_test'
        mysql root password: 'secret'

    - name: Install dependencies
      run: npm install

    - name: Bootstrap dependencies in packages
      run: npm run bootstrap

    - name: Build packages
      run: npm run build

    - name: Run tests
      run: npm test
      env:
        CI: true
        MYSQL_USER: 'root'
        MYSQL_PASSWORD: 'secret'
